<link rel="stylesheet" href="/static/main.css">
<h2>Add workout</h2>
<a href="/">Return to the main page</a><br>
<form action="/addworkout" method="post">
    Name of workout: <br><input type="text" name="workoutname"><br>
    Workout description: <br><textarea name="workoutdescription" rows="10" cols="50"></textarea><br>
    Date for workout: <br><input type="date" name="workoutdate" value={{ today }}>
    <br><input type="submit" value="Create workout">
    <input type="hidden" name="csrf_token" value="{{session.csrf_token}}">




</form>
<a href="/">Return to front page</a>