<link rel="stylesheet" href="/static/main.css">
<h2>Front page</h2>
{% if session.user_id%}
You are logged in as <b>{{ session.username }}</b>. If this is not you, <a href="/logout">Switch users</a>
<br>Create a <a href="/addworkout">workout</a> 
<br> View your <a href="/workouts">workouts</a>
<br> Add an <a href="/addactivity">activity</a>
<br> View your <a href="/activities">activities</a>
<br>Add a <a href="/addpr">PR</a>
<br>View your <a href="/prs">PRs</a>
{% else %}
<meta http-equiv="refresh" content="0; URL=/login">
{% endif %}

<h2>Today's workouts:</h2>
{% for workout in workouts %}
<br><b>{{workout.workout_name}}</b><br>

<p style="padding: 0 7em 2em 0;border-width: 2px; border-color: black; border-style:solid;">{{workout.description}}</p>




{% endfor %}