<link rel="stylesheet" href="/static/main.css">

<h2>Log in</h2>

<form action="/login" method="post">
    Username: <br><input type="text" name="username" value= {{ reusername }}>
    <p>
    Password: 
    {% if passwordErrorMessage%}
    <br><span class="errorMessage">{{ passwordErrorMessage }}</span>
    {% endif %}
    <br><input type="password" name="password">
    
    </p>
    <input type="submit" value ="Log in">
</form>

If you do not already have an account, create one by clicking <a href="/register">here</a>